.saves li.roll-data[data-save="reflex"] .my-button {
    justify-content: center;
    width: 1.5em;
    height: 12px;
    padding: 0;
    font-size: 1em;
    line-height: 1;
    border: none;
    color: white;
}

.saves li.roll-data[data-save="reflex"] .sidebar_label {
    display: flex;
    align-items: center;
    white-space: nowrap;
}